<h3>D'ou proviennent les données?</h3>
<p>
  Les <abbr title="Demandes de valeurs foncières">DVF</abbr> sont les
  <strong>Demandes de valeurs foncières</strong> contiennent les transactions immobilières intervenues au cours des cinq
  dernières années.
</p>

<p>
  Les données sont issues des actes notariés et des informations cadastrales et publiées par la direction générale des
  finances publiques. Ces données sont publiques et disponibles sur
  <a href="https://www.data.gouv.fr/fr/datasets/demandes-de-valeurs-foncieres/">le site du gouvernement</a>
</p>

<p><%= appName %> s'appuie sur ces données afin de générer des statistiques pour chaque code postal.</p>
