<!-- src/template/_nav.ejs -->
<nav>
  <ul>
    <li>
      <strong><a href="/"><%= appName %></a> </strong>
    </li>
  </ul>
  <ul>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#" role="button">Button</a></li>
  </ul>
</nav>
