<!DOCTYPE html>
<html lang="fr">
  <%- include('_head', {title: appName }); %>
  <body>
    <main class="container">
      <%- include('_nav'); %>
      <h1 style="display: none"><%= appName %></h1>

      <p>TODO: franc selector</p>

      <h2>Foire aux questions</h2>

      <%- include('_about'); %>
    </main>
  </body>
</html>
