<!DOCTYPE html>
<html lang="en">
  <%- include('_head', {title: `DVF viewer` }); %>
  <body>
    <main class="container">
      <%- include('_nav'); %>
      <h1>DVF Viewer</h1>

      <label for="zipCode">
        Code postal
        <input type="number" id="zipCode" />
        <datalist id="zipCodes">
          <% zipCodes.forEach(function ({zipCode}) { %>
          <option value="<%= zipCode %>"></option><% }); %>
        </datalist>
        <!-- TODO: redirect to the page from input -->
      </label>
    </main>
  </body>
</html>
